body {
	margin: 0;
}

.buttons {
 text-align: center;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 25px;
 border: 5px;
 border-color: #ca9d58;
 border-radius: 4px;
}

a {
	display: flex;
	justify-content: center;
	align-items: center;
}
a:link, a:visited {
  background-color: #ca9d58;
  color: black;
  padding: 100px 25px;
  text-align: center;
  text-decoration: none;
	font-size: 30px;
	height: 100px;
	width: 300px;
}

a:hover, a:active {
  background-color: #c7821a;
}

* {
	font-family: Futura, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-align: center;

}
.header {
	background-color: #ca9d58;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
}
.footer {
	background-color: #ca9d58;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

.sidebar {
	background-color: #ca9d58;
	height: auto;
	width: 80px;
}
h1 {
	font-size: 45px;
}

p {
	font-size: 20px;
}

p, .buttons{
	margin-top: 20px;
margin-right: 50px;
margin-bottom: 20px;
margin-left: 50px;
}

/* content flexbox */

.content {
	display: flex;
	justify-content: space-between;
}

.sidebar {
	flex-grow: 0;
}

/* inner content flexbox */
.container {
	display: flex;
	flex-direction: column;
	padding: 25px 125px;
}

/* body flexbox */
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}
