body {
	margin: 0;
}

.buttons {
 text-align: center;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 25px;
}

a {
	display: flex;
	justify-content: center;
	align-items: center;
}
a:link, a:visited {
  background-color: #ca9d58;
  color: black;
  padding: 100px 25px;
  text-align: center;
  text-decoration: none;
	font-size: 30px;
	height: 80px;
	width: 210px;
}

a:hover, a:active {
  background-color: #c7821a;
}

* {
	font-family: Futura, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-align: center;

}
.header {
	background-color: #ca9d58;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
}
.footer {
	background-color: #ca9d58;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

.sidebar {
	background-color: #ca9d58;
	width: 80px;
}
h1 {
	font-size: 45px;
}

p {
	font-size: 22px;
}


/* content flexbox */

.content {
	display: flex;
	justify-content: space-between;
	flex: 1;
	min-height: 700px;
}


/* inner content flexbox */
.container {
	display: flex;
	flex-direction: column;
	padding: 25px 125px;
	gap: 25px;
}

/* body flexbox */
body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.header, .footer, {
	flex-shrink: 0;
}
